@page
@model Integration.Pages.CreateProgramModel
@{
}




<h2>Create Progeam</h2>


        <strong>@Model.errorMessage</strong>
    

<form name="CreateAProgram" method="POST">
    <div class=" row mb-3">
        <lablel class="col-sm-3 col-form-label">ProgramCode</lablel>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="programcode" value="@Model.programcode" />

        </div>
    </div>

    <div class=" row mb-3">
        <lablel class="col-sm-3 col-form-label">Description</lablel>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="description" value="@Model.description " />
        </div>
    </div>






 
   
                    <strong> @Model.successMessage</strong>
                

    <div class="row mb-3">
        <div class="offeset-sm-3 d-grid">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>

        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
        </div>
    </div>


</form>